services:
  db:
    image: pgvector/pgvector:pg16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=pgv_db
      - POSTGRES_USER=pgv_user
      - POSTGRES_PASSWORD=1234
    ports:
      - "5433:5432"

volumes:
  postgres_data: